.jumbotron {
    background-color: #ffffff;
}

ul.no-bullets {
    list-style-type: none;
}

/* position anchors lower than narbar */
.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;}

/* parallax without overlay (showing bg image) */
.parallax {  
    margin:15px 30px 30px 30px;  
    border-radius:10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height:50vh;
    position: relative;
}

.parallax .container-text {
    visibility: hidden;
}

.parallax.overlay {
    background-color: #eeeeee;
    background-blend-mode: overlay;
}

.parallax label {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 2px 4px;
    border-radius: 4px;
    visibility: visible;
}

/* parallax with overlay (covering bg image) */
.parallax.overlay .container {
    visibility: visible;
}

.parallax.overlay label {
    visibility: hidden;;
}

.well {
    background-color: #ffffff;
    border:none;
    box-shadow: none;
    margin-bottom: 0px;
}

.parallax .well {
    background-color: transparent;
    border-color: transparent;
    border: none;
}

 .glyphicon-remove-sign {
    font-size: 3em;
    color: #337ab7;
    display: inline-block;
}

.glyphicon:hover{
    animation: pop 0.3s linear 1;
}

/* toggle icon to show/hide bg image */
.parallax.overlay .glyphicon-remove-sign:before {
    content: "\e088";
}

/* page section images */
.career {
    background-image: url("img/career-lg.png");
}

.training {
    background-image: url("img/training-lg.png");
}

/* page section styling */
.hero {
    height: 55vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-image: url("img/marco.png");
    background-color: black;
    color: white;
}

.hero h4 {
    color: #cccccc;
}

.skills .title {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.skills .guide .title {
    color: #dddddd;
}

.skills .score {
    display: inline-block;
}

.skills .glyphicon-star {
    color: #ddd;
}

.skills .glyphicon-star.filled {
    color: gold;
}

.skills .glyphicon {
    font-size: 14px;
}

.training .media img {
    width: 120px;
    margin-right: 20px;
}

.contact a {
    display: block;
    line-height: 40px;
    margin-bottom: 20px;
}

.contact-icon {
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.contact-icon.twitter {
    background: url(img/twitter-bug.png)
}

.contact-icon.linkedin {
    background: url(img/linkedin-bug.png);
}
/* Boostrap overrides */
 body { 
     padding-top: 50px;
     padding-bottom: 20vh;
 }

 .nav {
    border: none;
    background-color: white;
    color: #405167;
    font-weight: bold;
    font-size: 1em;
    height: 50px;
    display: flex;
    justify-content: center;
 }

 .nav>li>a {
     padding: 10px;
 }

@keyframes pop{
    50%  {transform: scale(1.2);}
}

@media only screen and (min-width : 768px) {
    .nav {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 992px) {
    .hero {
        max-height: 40vh;
        background-position: right bottom;
    }
 
    .training .media img {
        width: 90px;
        margin-right: 10px;
    }
 
}

@media only screen and (max-width : 480px) {
    /* page section images */
    .career {
        background-image: url("img/career-xs.png");
    }

    .training {
        background-image: url("img/training-xs.png");
    }

    .training .media img {
        width: 60px;
        margin-right: 5px;
    }
    
}
