body {
  padding-top: 50px;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

/* bootstrap navbar */
.nav {
  border: none;
  background-color: white;
  color: #405167;
  font-weight: bold;
  font-size: 1em;
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav > li > a {
  padding: 10px;
}

/* bootstrap card component */
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/* adjust link anchors for fixed navbar */
.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

/* hero section */
.hero {
  height: 325px;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-image: url("img/marco.png");
  background-color: black;
  color: #f8f9fa;
  padding-top: 2rem;
}

.hero .row {
  height: 285px;
}

.hero h4 {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
}

.hero kbd {
  color: #afdaf9;
}

/* parallax without overlay (showing bg image) */
.parallax {
  margin: 15px 0 30px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

.parallax .container-text {
  visibility: hidden;
}

.parallax.overlay {
  background-color: #eeeeee;
  background-blend-mode: overlay;
}

.parallax label {
  display: inline-block;
  background-color: #f8f9fa;
  padding: 2px 4px;
  border-radius: 4px;
  visibility: visible;
}

/* parallax with overlay (covering bg image) */
.parallax.overlay .container {
  visibility: visible;
}

.parallax.overlay label {
  visibility: hidden;
}

/* training section */
.training {
  background-image: url("img/training.png");
}

.training .card {
  background-color: transparent;
  border: none;
}

.training .card:hover {
  background-color: #f8f9fa;
}

/* skills section */
.badge-secondary {
  transition: background-color 1s ease-out;
  background-color: #ffffff;
  color: #28a745;
  border: 1px solid #28a745;
  margin: 4px;
}

/* career section */
.career {
  background-image: url("img/career-lg.jpg");
  margin-bottom: 0px;
}

.career .list-group-item {
  background-color: transparent;
  border: none;
}

.career .list-group-item:hover {
  background-color: #f8f9fa;
}

/* contact section */
.contact a {
  display: block;
  line-height: 40px;
  margin-bottom: 20px;
}

.contact-icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  background: url(img/linkedin-bug.png);
  vertical-align: middle;
}

/* Overrides for small devices (sm) */
@media (min-width: 576px) {
  .hero {
    height: 330px;
    background-position: right bottom;
  }
}

/* Overrides for medium devices (md) */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .hero {
    height: 400px;
    background-position: right bottom;
  }

  .hero .row {
    height: 350px;
  }
}

/* Overrides for large devices (lg) */
@media (min-width: 992px) {
  .hero {
    max-height: 450px;
    background-position: center bottom;
  }
}
